.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 8%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 65%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 67%
    right: 44%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white
.barra-avance__boton--regresar span 
  color: #fff !important

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 600px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.boton *, .boton--sm * 
  color: #fff !important
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px

.w-card-icon2
  width: min-content
  z-index: 1
.w-card-text2
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
.titulo-segundo:after 
  border-left-color: #375E02
  background-color: #C0E886
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #375E02
.bg01
  background-color: #C1B09C
.bg001
  background-color: #E0D7CD
  border-radius: 20px
.bg02
  background-color: #375E02
  border-radius: 20px
.bg03
  background-color: #FEF9E8
  border-radius: 20px
.bg04
  background-color: #E5CBA6
.bg05
  background-color: #375E02
.bg06
  background-color: #C0E886

.fa-hoja
  content: url('../assets/curso/Tema2/hoja.svg')
  vertical-align: top !important
.linea-tiempo-d.color-primario .linea-tiempo-d__item__number
  background-color: #E0D7CD !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item__content
    background-color: #E0D7CD !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #375E02 !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
    background-color: #EAEEE5 !important
